<html>
<head>
  <title>Test Rails JS</title>
  <style>
    body { line-height: 1.2; }
    dl, dt, dd { margin: 0; padding: 0; }
    body > dd > dl { margin-bottom: 1em; }
    dl > dd { padding-left: 1em; }
  </style>
</head>
<body>
  <% tests_by_path.each do |path, tests| %>
    <%= render :partial => 'tests', :locals => { :tests => tests } %>
  <% end %>
</body>
</html>
